
   
 body {
     position: relative;
     background-color: black;
  }


  .main {
     display:grid;
        grid-template-areas:
            "Header"
            "Navigation"
             "Frame"
              "Footer";
             grid-template-rows:30% 2% 50% 12% ;
        }

.Header > logo {
     display:flex;
     justify-content: center;
     position: sticky;
     height: 34%;
    }
 
  
   
  .Header {
      grid-area: Header;
   background-color:black;
   margin:0 1%;
   width: 98%;

 
  }


  .Navigation { 
     grid-area: Navigation;
       width: 100%;
}
  


 .Navigation > ul {
     display: flex;
     flex-direction: row;
   justify-content: center;
      font-size: 4em;
   list-style: none;
  } 
  
  .Navigation > ul > .box {
      padding:0 1em 0 0;
  }

  a { 
   color:rgb(255,0, 0);
  }

  a:visited {
      color: rgb(185, 67, 38);
     
  }

  a:hover {
    color:rgb(237, 240, 70);
  }



   .Frame {
       grid-area: Frame;
       width:100%;
       display:flex;
      justify-content:center;  

   }

   .Footer > a {
       color:rgb(206, 50, 50);
   }

   .Footer > a:hover {
    color:rgb(237, 240, 70);
}

   .Footer {
    grid-area: Footer;
    display: flex;
    width: 100%;
    justify-content: center;
     font-size: 3em;
    
   }