
   
 body {

     background-color: black;
  }


  .main {
   border: 1vh 8vh;
    width:97vw;
     display:grid;
        grid-template-areas:
            "Header"
            "Navigation"
             "Frame"
              "Footer";
            

        grid-template-rows:18vw 7vw 58vw 5vw ;
        }


.Header > logo {
     display:flex;
     justify-content: center;
     height: 20vw;
    }
  
  
   
  .Header {
      grid-area: Header;
   background-color:black;
     border-top-left-radius: 3vw;
     border-top-right-radius: 3vw;
     border-bottom-left-radius: 3vw;
     border-bottom-right-radius: 3vw;
 
  }



  .Navigation { 
     grid-area: Navigation;
     background-color: rgb(204, 82, 11);
    border-top-left-radius: 3vw;
     border-top-right-radius: 3vw;
    }


 .Navigation > ul {
       display: flex;
       flex-direction: row; 
       justify-content: space-around;
  font-size: 2em;
   list-style: none;
  }

   .Frame {
       grid-area: Frame;
       display:flex;
      justify-content:space-around;
       background-color:  rgb(204, 82, 11);
   }

  /* .box {
       max-height: 50em;
       width: 100%;
   }  */

   .Footer {
    grid-area: Footer;
         display: flex;
    
       justify-content: center;
       background-color: rgb(204, 82, 11);
       font-size: 2em;
       margin: 5px 3px;
       border-bottom-left-radius: 3vw;
       border-bottom-right-radius: 3vw;
   }