
   
 body {
     position: relative;
     background-color: black;
  }


  .main {
     display:grid;
        grid-template-areas:
            "Header"
            "Navigation"
             "Frame"
              "Footer";
             grid-template-rows:30% 8% 50% 12% ;
        }

.Header > logo {
     display:flex;
     justify-content: center;
     height: 30%;
    }
 
  
   
  .Header {
      grid-area: Header;
   background-color:black;
   margin: 1%;
   width: 98%;

 
  }


  .Navigation { 
     grid-area: Navigation;
     margin: o 1%;
       width: 98%;
}
  


 .Navigation > ul {
       display: flex;
       flex-direction: row; 
       justify-content: space-evenly;
       position: sticky;
  font-size: 5.5vw;
   list-style: none;
  }

   .Frame {
       grid-area: Frame;
       width:98%;
       margin:0% 1%;
       display:flex;
      justify-content:space-around;
   }

   .Footer {
    grid-area: Footer;
         display: flex;
    width: 99%;
       justify-content: center;
     font-size: 4.75vw;
       border-bottom-left-radius: 3vw;
       border-bottom-right-radius: 3vw;
   }